@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{font-family: "Inter", system-ui;}

.project{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.copyright{
  font-style: italic;
  font-weight: 300;
  font-size: 25px;
  padding: 1rem;
  z-index: 9999;
  text-decoration: none;
  transition: all ease-in-out 500ms;
} .copyright:hover{
  color: chartreuse;
}

.custom-form{
  display: flex;
  position: fixed;
  z-index: 99;
  width: 100%;
  gap: 15px;
  .control{
    flex: 1;
  }
}

.custom-product-list{
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  div{width: 300px;}
}

.project-name{
  font-style: italic;
  font-weight: 300;
  font-size: 25px;
  padding: 1rem;
  z-index: 9999;
  text-decoration: none;
  transition: all ease-in-out 500ms;

  bold{
    color: red ;
  }
}

.custom-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  gap: 16px; /* Adjust the gap between cards as needed */
}

.card {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.card-content,
.card-footer {
  flex: 1;
}
